/* body {
  margin-left: 40px;
  font-family: sans-serif;
  color: #333;
  text-align: center;
}

h1, h2 {
  text-align: center;
  color: #00b8d4;
}

h2 {
  margin-top: 40px;
}

h2 strong {
  color: red;
}

.dialogue{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.name {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  font-size: 8px;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 4px;
}

img {
  width: 600px;
}

.container {
  display: flex;
} */

body {
  background-color: #FFE8D6; /* Color de fondo navideño */
}

h1 {
  color: #D22222; /* Color rojo navideño */
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cursive';
}

img {
  border: 5px solid #D22222; /* Borde rojo navideño */
  border-radius: 20px;
}

p {
  font-family: 'Sans-serif';
  font-size: 18px;
  color: #336699;
  text-align: center;
}

.imgNav {
  width: 50%;
  margin: 0 auto;
  display: block;
}

a {
  color: #D22222; /* Color rojo navideño */
  text-decoration: none;
}

a:hover {
  color: #336699; /* Color azul navideño */
  text-decoration: underline;
}
